.content {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    height: 100vh;
    width: 100vw;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-image {
    position: fixed; 
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    z-index: -1; 
}

#FormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Form-box {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.form-inner {
    background-color: rgba(17,60,101,1);
    border: 2px solid #ffd700;
    border-radius: 10px;
    padding: 60px; /* Уменьшен padding в 2 раза */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px; /* Минимальная ширина */
    min-height: 300px; /* Минимальная высота */
    max-width: 90%; /* Максимальная ширина */
    max-height: 90%; /* Максимальная высота */
    box-sizing: border-box;
}

.form-inner h1 {
    color: #fff;
    font-size: 45px; /* Уменьшен размер шрифта в 2 раза от предыдущего */
    margin-bottom: 20px;
}

.form-inner input[type="text"],
.form-inner input[type="password"],
.form-inner input[type="email"] {
    width: calc(100% - 22px);
    background-color: rgba(17,60,101,1);
    padding: 15px; /* Уменьшен padding в 2 раза */
    margin: 15px 0; /* Уменьшен margin в 2 раза */
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 45px; /* Уменьшен размер шрифта в 2 раза */
    color: #ffffff;
    box-sizing: border-box;
}

.form-inner input[type="submit"] {
    width: 50%;
    padding: 15px; /* Уменьшен padding в 2 раза */
    border: none;
    border-radius: 5px;
    background-color: rgb(203, 230, 255);
    color: #000;
    font-size: 27px; /* Уменьшен размер шрифта в 2 раза */
    cursor: pointer;
    margin-top: 15px; /* Уменьшен margin в 2 раза */
}

.paragraph {
    color: #fff;
}

input::placeholder {
    text-align: center;
}

@media (max-width: 768px) {
    .form-inner {
        width: 80%;
        height: auto;
        padding: 15%; /* Уменьшен padding в 2 раза */
    }

    .form-inner h1 {
        font-size: 9vw; /* Уменьшен размер шрифта в 2 раза */
    }

    .form-inner input[type="text"],
    .form-inner input[type="password"],
    .form-inner input[type="email"] {
        font-size: 9vw; /* Уменьшен размер шрифта в 2 раза */
    }

    .form-inner input[type="submit"] {
        font-size: 9vw; /* Уменьшен размер шрифта в 2 раза */
    }
}

@media (max-width: 480px) {
    .form-inner {
        width: 90%;
        height: auto;
        padding: 15%; /* Уменьшен padding в 2 раза */
    }

    .form-inner h1 {
        font-size: 7.5vw; /* Уменьшен размер шрифта в 2 раза */
    }

    .form-inner input[type="text"],
    .form-inner input[type="password"],
    .form-inner input[type="email"] {
        font-size: 7.5vw; /* Уменьшен размер шрифта в 2 раза */
    }

    .form-inner input[type="submit"] {
        font-size: 7.5vw; /* Уменьшен размер шрифта в 2 раза */
    }
}
